/* common grid box */
.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}


/* sponsors grid section */
.sponsors-section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2% 2%;
}

.sponsors-grid {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
    width: 100%;
}

.sponsors-grid:after {
	clear: both;
}

.sponsors-grid:after, .xop-box:before {
	content: '';
	display: table;
}

.sponsors-grid li {
	width: 140px;
	height: 85px;
	display: inline-block;
    margin: 5px;
    border:5px solid #e9e9e9;
}

.sponsors-img {
	background: url(../img/sponsors1.png);
}

/* flickr grid section */
.flickr-section {
	max-width: 320px;
	margin: 0 auto;
	padding: 2% 2%;
}

.flickr-grid {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
    width: 100%;
}

.flickr-grid li {
	width: 80px;
	height: 80px;
	display: inline-block;
    margin: 5px;
    border:1px solid #e9e9e9;
}

.flickr-img {
	background: url(../img/flickr-1.png);
}