html, body {
    height: 100%;
    margin: 0;
    font-size: 14px; 
}

/* navbar */
.navbar{
    background-color:rgb(17,18,19);
    min-height: 130px;
    margin-bottom: 0px;
}

 /* the nav items */
.nav-link {
    color: #e9e9e9;
    font-family: Garamond;
}

/* custom search bar */
.search{
    height: calc(1.2em + .5rem + 1px);
    border-radius: 1.5rem;
    justify-content: right;
}

 /* the black bar below the carousel */
.black-bar{
    background-color:rgb(17,18,19);
    height: 151px;   
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* the quote on the black bar */
.blockquote {
    color: #a3a3a3;font-family: Garamond;
}

/* the border on the article images */
.img-fluid { 
    border:5px solid #e9e9e9;
}

 /* the container for each article's heading and date */
.container .col-8 {
    display: inline-grid;
}

/* the NBC Shop card */
.card{
    border:none;
}

.list-group-item{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-group{
    margin-bottom:20px;
    margin-top:20px;
}

/* button stuff */
.btn-primary {
    width: 170px;
    height: 37px;
    background-color: #4e90b2;
    border-color: #4e90b2;
}

/* initial button position */
.showmore {
    top: 60%;
    position: absolute;
}

.hidden{
    visibility: hidden;
}

/* sticky footer */
.footer,
.push {
    height: 396px;
}
.footer {
    background-color:rgb(17,18,19);
    height: 396px;
    
}

.footer-section div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section .col-4{
    display: block;
    margin-top: 30px;
}

.footer-section h4{
    color:#babab8;
    font-family: Garamond;
    font-size:30px; 

}
.footer-section p{
    color:#747474;
    text-align: justify;
}

/* mark.js highlight search keyword */
mark {
padding: 0;
background: rgb(223, 27, 118);
color: #fff;  
}

/* social icons */
.fa-stack-1x {
    color:#babab8;
}

.fa-stack {
    font-size: 1.75em;
}

.fa-stack-2x{
    color:#313335; 
}

